* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 15px;
    font-weight: 500;
}

nav {
    padding: 1em;
    background-color: rgb(229, 235, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .desc {
    font-size: 10px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    padding-right: 15px;
}

main {
    background-color: rgb(247, 243, 229);
    padding: 15rem;
}

main img {
    border-radius: 50%;
    height: 100px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.btn-container button {
    padding: 10px 25px;
    background-color: rgb(229, 235, 240);
    border-radius: 15px;
}

@media (max-width: 768px) {
    main {
        padding: 2rem;
    }

    .container {
        flex-direction: column;
        width: fit-content;
    }

    .container h2 {
        font-size: 1.2em;
    }

    .container h4 {
        font-size: 0.8em;
    }
}

#resume {
    background-color: rgb(229, 235, 240);
    padding: 5rem;
    text-align: center;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 4em;
}

.experience, .education, .skills, .language {
    background-color: rgb(247, 243, 229);
    padding: 20px;
}

@media (max-width: 768px) {
    #resume {
        padding: 1.2em;
    }

    #resume h2 {
        font-size: 1.2em;
    }

    .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.2em;

    }

    .experience, .education, .skills, .language {
        background-color: rgb(247, 243, 229);
        padding: 10px;
    }

    .details li {
        font-size: 10px;
    }
}

footer {
    background-color: rgb(247, 243, 229);
    padding: 2em;
    display: flex;
    justify-content: space-around;
}

.social-media a {
    color: black;
}
.social-media a:hover {
    cursor: pointer;
}

.fab {
    padding-right: 15px;
    font-size: 20px;
}

@media (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-media {
        padding: 20px;
    }
}